@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/font' as *;
.video-description{
    padding: 2.4rem 1.6rem 1.6rem;
    @include tablet{
        padding: 3.6rem 2.4rem 2.4rem;
    }
    @include desktop{
        
        
        padding: 3.6rem 14rem 0;
    }
    @include desktop{
        padding-right: 0;
    }
    &__heading{
        @include font(2.4rem,3.2rem, 700);
        padding-bottom: 1.6rem;
        @include tablet{
            @include font(3.3rem, 4.4rem, 700);
            padding-bottom: 2.4rem;
        }
    }

    &__details-wrapper{
        display: flex;
        justify-content: start;
        border-bottom: 1px solid $color-secondary-mercury;
        border-top: 1px solid $color-secondary-mercury;
        margin-bottom: 1.6rem;
        @include tablet{
            margin-bottom: 2.4rem;
            border-top:0px;
            justify-content: space-between;
        }

    }
    &__col1{
        width: 50%;
        @include tablet{
         display: flex;   
        }
    }
    &__col2{
        // display: flex;
        @include tablet{
            display: flex;   
           }
    }
    &__views-wrapper{
        display: flex;
        
    }
    &__channel-name{
        @include font(1.3rem, 1.8rem, 500);
        padding: 1.6rem 0;
        @include tablet{
            @include font(1.4rem, 2.2rem, 500)
        }
    }
    &__date{
        @include font(1.3rem, 1.8rem, 400);
        padding: 0  0 1.6rem 0;
        color: $color-Secondary-text;
        @include tablet{
            margin-top: 1.6rem;
            margin-left: 3rem;  
            @include font(1.4rem, 2.2rem, 400)
        }
    }
    &__likes-wrapper{
        display: flex;
    }
    &__views{
        @include font(1.3rem, 1.8rem, 400);
        padding: 1.6rem 0;
        color: $color-Secondary-text;
        @include tablet{
            @include font(1.4rem, 2.2rem, 400);
        }

    }
    &__likes{
        @include font(1.3rem, 1.8rem, 400);
        padding: 0  0 1.6rem 0;
        color: $color-Secondary-text;
        @include tablet{
            margin-top: 1.6rem;
            @include font(1.4rem, 2.2rem, 400);
            
        }
        @include desktop{
            padding-right: 1.6rem;
        }
        

    }
    &__text{
        @include font(1.3rem, 1.8rem, 400);
        
        @include tablet{
            @include font(1.4rem, 2.2rem, 400);
        }
        @include desktop{
            padding-right: 1.6rem;
        }
    }
    
}

.likeicon{
    padding-right: 0.8rem;
    padding-bottom: 1.6rem;
    @include tablet{
        margin-top: 1.6rem;
        margin-left: 3rem;  
    }
}

.viewicon{
    padding-right: 0.8rem;
    @include tablet{
        width: 3.5rem;  
    }
    // padding-bottom: 1.6rem;
}