@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/fonts/AvenirNextLTPro-Demi.woff2') format('woff2'),
        url('../../assets/fonts/AvenirNextLTPro-Demi.woff') format('woff'),
        url('../../assets/fonts/AvenirNextLTPro-Demi.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('../../assets/fonts/AvenirNextLTPro-Regular.woff') format('woff'),
        url('../../assets/fonts/AvenirNextLTPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('../../assets/fonts/AvenirNextLTPro-Bold.woff') format('woff'),
        url('../../assets/fonts/AvenirNextLTPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

