//breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;


// colors
$color-primary-dark:#323232;               
// inactive text color
$color-primary-inactive:#0095FF;              //cta inactive text color
$color-Secondary-text:#AFAFAF;

$color-primary-light:#ffffff;               //pri text color on dark backgraound

$color-secondary-dark:#0065AD;              //hover cta
$color-secondary-mercury:#E1E1E1;           //divider line Form field outline
$color-secondary-light:#FAFAFA;              //Alternative light background color

$color-video-compo-color:#000000;






