@use 'styles/partials/variables' as *;
@use 'styles/partials/mixins' as *;
@use 'styles/partials/font' as *;


/* Box sizing rules*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Remove default margin */
*{
    margin: 0;
    padding: 0;
    font: inherit;
}
//reset root font size to 10px-- now 1rem =10px
html{
    font-size: 10px;
}
body{
    max-width: 76.7rem;
    min-width: 32.0rem;
    margin: auto;
    font-family:"AvenirNext LT Pro", 'Times New Roman', Times, serif;

    @include tablet{
        max-width: 127.9rem;
        min-width: 76.8rem;
        margin: 0 auto;
    }
    @include desktop{
        max-width: 240.9rem;
        min-width: 127.9rem;
        margin: 0 auto;
    }
}

/* Remove list styles on ul*/

ul[role="list"] {
    list-style: none;
}

//some utility classes to reduce repitition
//1] UT CLASS padding in mobile design
.mo-padding{
    padding: 1.6rem;
}

//desktop padding
.td-padding{
    padding:0 3.6rem 0 3.6rem;
}

//2] UT CLASS-page header and section header -type kit
.mo-text-style{
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 500;
}

.mo-demi-style{
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 600;

}

.mo-body-text-style{
    
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 400;

}
//ut class for tablet and desktop text style
.td-pheader-bstyle{
    font-size: 6rem;
    line-height: 6.8rem;
    font-weight: 700;
}

.td-sheader-bstyle{
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-weight: 700;
}

.td-subsheader-dstyle{
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 600;
}
    
.td-btext-style{
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 400;
}
.td-fttext-style{
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
}

.container{
    @include desktop{
        display: flex;
        padding-right: 14rem;
    }
}
.main{
    @include desktop{
        max-width: 70%;
    }
}
.aside{
    @include desktop{
        margin-top: 4rem;
        max-width: 70%;
        border-left: 2px solid $color-Secondary-text;
    }
}